<nav style='padding-left: 30px; padding-right: 15px'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo logo"><h4>Grassy Hill Productions</h4></a>
    <ul id="nav-mobile" class="right">
      <a href="/cart">
        <i class="material-icons">shopping_cart</i>
      </a>
    </ul>
  </div>
</nav>
