<div class="row center-align">
  <h4>Your Cart:</h4>
  <% current_user.retailer.cart_items.each do |cart| %>
  <div class="col s8 offset-s2 border">
    <div class='row'>
      <div class="col s4">
        <%= image_tag cart.product.image.url(:medium), :class => 'responsive-img' %>
      </div>
      <div class="col s8">
        <div class="row">
          <h4><%= cart.product.code %> x <%= cart.quantity %></h4>
          <h5>$<%= '%.2f' % cart.price %></h5>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <a href="/checkout" class='btn'>Continue to Checkout</a>
</div>
