


<!-- <div class="col s12 center-align">
  <h1 class="center-align logo">Grassy Hill Productions</h1>
  <img src="/logo.png" alt="" class="responsive-img" />
</div> -->

<div class="row">
  <div class="col s12 m4 center-align">
    <a href="/greeting_cards">
      <h3 class="trochut black-text" style="text-decoration:underline">Greeting Cardsssssss</h3>
      <!-- <#% if @greeting_card_picture %>
        <#%= image_tag @greeting_card_picture.front_image.url(:large), :class => 'responsive-img' %>
      <#% end %> -->
    </a>
  </div>
  <div class="col s12 m4 center-align">
    <a href="/led_pictures">
      <h3 class="trochut black-text" style="text-decoration:underline">Back-Lit Canvas Art</h3>
      <!-- <#% if @led_picture %>
        <#%= image_tag @led_picture.image.url(:medium), :class => 'responsive-img' %>
      <#% end %> -->
    </a>
  </div>
  <div class="col s12 m4 center-align">
    <a href="/guitar_string_bracelets">
      <h3 class="trochut black-text" style="text-decoration:underline">Guitar String Bracelets</h3>
      <img src="/guitar-1.jpeg" alt="" class="responsive-img"/>
    </a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('select').material_select();
  })
</script>
