
<div class="center-align row">

  <h2 class="trochut" style="text-decoration:underline">Anniversary</h2>

  <%= render partial: "card_partial" %>

</div>


<script>
  $(document).ready(function(){
    $('select').material_select();
  })
</script>
