
<div class="center-align">

  <h2 class="trochut" style="text-decoration:underline">Birthday</h2>

  <%= render partial: "card_partial" %>

</div>

<script>
  $(document).ready(function(){
    $('select').material_select();
  })
</script>
