
<h2 class="center-align">Greeting Cards</h2>

<div class="row center-align">
  <div class="col s4 border">
    <a href="/cards/birthday">
      <h4>Birthday</h4>
      <%= image_tag @birthday_picture.front_image.url(:medium), :class => 'responsive-img' %>
    </a>
  </div>
  <div class="col s4 ">
    <a href="/cards/sympathy"><h4>Sympathy</h4></a>
  </div>
  <div class="col s4 ">
    <a href="/cards/thank_you"><h4>Thank You</h4></a>
  </div>
</div>
<div class="row center-align">
  <div class="col s4 ">
    <a href="/cards/love"><h4>Love</h4></a>
  </div>
  <div class="col s4 ">
    <a href="/cards/congratulations"><h4>Congratulations</h4></a>
  </div>
  <div class="col s4 ">
    <a href="/cards/anniversary"><h4>Anniversary</h4></a>
  </div>
</div>
