
<h1 class="center-align trochut" style="text-decoration:underline">Back-Lit Canvas Art</h1>

<div class="row">
  <% @led_pictures.each do |led| %>
      <div class="col s12 m6 center-align valign-wrapper" style="padding:5px 50px 5px 50px; height: 600px">
        <div class="led-picture border valign">
          <!--<div class="col s12 m6 led-picture center-align ">-->
          <%= image_tag led.image.url(:medium), :class => "responsive-img image" %>
          <%= image_tag led.gif.url(:medium), :class => "responsive-img hidden gif" %>
          <h5 class="trochut"><%= led.title %></h5>
          <h6 class = "oswald"><%= led.code %></h6>
        </div>
      </div>
  <% end %>
</div>

<div class="row center-align">
  <div class="col s6 offset-s3">
    <img src="/back.jpeg" alt="" class="responsive-img"/>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('select').material_select();
  })

  $('.image').mouseover(function(){
    gifSwap($(this))
  })

  $('.image').click(function(){
    gifSwap($(this))
  })

  $('.gif').click(function(){
    var ledDiv = $(this).parent();
    var image = ledDiv.find('.image')
    // var playButton = ledDiv.find('.play-button')
    $(this).attr('class', 'responsive-img gif hidden')
    image.attr('class', 'responsive-img image')
    // playButton.attr('class', 'responsive-img play-button')
  })

  function gifSwap(image){
    var ledDiv = image.parent();
    var gif = ledDiv.find('.gif');
    // var playButton = ledDiv.find('.play-button')
    $('.gif').each(function(){
      $(this).attr('class', 'responsive-img gif hidden')
    })
    $('.image').each(function(){
      $(this).attr('class', 'responsive-img image')
    })
    // $('.play-button').each(function(){
    //   $(this).attr('class', 'responsive-img play-button')
    // })
    image.attr('class', 'responsive-img image hidden');
    // playButton.attr('class', 'responsive-img play-button hidden')
    gif.attr('class', 'responsive-img gif');
  }
</script>
