<!DOCTYPE html>
<html>
<head>
  <title>GrassyHillProudctions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Trochut:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo logo"><h4>Grassy Hill Productions</h4></a>
        <!-- <li><a href="/about">About Us</a></li> -->
        <li><a href="/contact">Contact</a></li>
    </div>
  </nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
